<script src="../../../../assets/Scripts/bootstrap.js"></script>
<link href="../../../../assets/Content/bootstrap.css" rel="stylesheet" />
<div id="style-scroll" style="height: 86vh;
    overflow: auto;">
    <div id="style-scroll" style="height: 86vh;
    overflow: auto;">
        <md-content layout-padding class="xe-transparent font-dark">
            <h2 class="margin-0">Update Problem</h2>
        </md-content>

        <div layout-padding flex layout="row" class="xe-transparent">
            <form class="form-inline">
                <div class="col-sm-12" style="border-color:black; border-style:solid;margin:10px 0 20px 10px;padding:0px 0 10px 0px;">
                    <div class="form-group col-lg-6">
                        <label class="col-lg-6">Name</label>
                        <input type="text" class="form-control" id="title" ng-model="account.name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="col-lg-6"> Domain</label>
                        <select class="form-control" ng-model="account.domain" ng-selected="account.domain._id">
                            <option ng-repeat="domain in domains" value="{{domain._id}}">{{domain.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
