<ng-include src="'app/partials/main/templates/topmenu.html'"></ng-include>


<div class="container-fluid container-content main">
    <div class="row mobRes">
        <!--<div class="col-md-3 custom-width-left id3-heading-bg">
            <span class="span-id3-heading">ID</span>
            <span class="span-id3-sup">3</span>
        </div>-->
        <div class="col-md-12 page-heading-bg">
            <!--<span class="span-heading">Manage</span>-->
            <ul class="business-sub-nav">
                <!--<li class="active"> BUSINESS PROBLEMS </li>-->
                <li class="active"> SETTINGS </li>
                <!--<li> SETTINGS </li>-->
            </ul>
        </div>
        <div class="col-md-12 page-heading-bg-solid">
        </div>
        <div class="col-md-12 shadow-page-heading-bg">
        </div>
    </div>
</div>

<!--<div class="row">
        <div class="col-md-12 page-overlay-row">

                </div>
    </div>-->
<div class="container-fluid container-content container-fixed container-module-bottom">
    <div class="row white-bg list-menu menu-fixed mobView nav-static">
        <div class="col-md-12 mobileFilterHideIcon">
            <div class="float-left align-left fix-width-menu">
                <i class="ion-ios-list-outline filter-menu-mob fixed-menu-left" ng-click="showhidefilteroptions()"></i>
            </div>
            <div class="float-left align-center fix-width-menu">
                <i class="ion-earth filter-menu-mob active" ng-click="showTimeline();"></i>
            </div>
            <div class="float-left align-right fix-width-menu">
                <i class="ion-ios-clock-outline filter-menu-mob fixed-menu-right" ng-click="showhiderecent();"></i> <!--ion-ios-bookmarks-outline-->
            </div>
        </div>
    </div>
    <div class="row display-none">
        <div class="col-md-6 mobRes">
            <!--<span class="span-text-wall">WALL</span><br />-->
            <span class="span-text-intro mobRes">Create new user to share,</span><br />
            <span class="span-text-intro-part">collaborate and innovate together!</span>
        </div>
        <div class="col-md-6">
            <div class="row txt-row-margin-create mobRes">
                <div class="col-md-6">
                    <span class="span-create-head">Create User Profile</span>
                </div>
            </div>
            <div class="row input-row-margin-create">
                <div class="col-md-12">
                    <input type="text" class="input-create-prob" ng-model="userEmailId" placeholder="Enter the new user's Email ID" />
                </div>
            </div>
            <div class="row input-row-margin-create">
                <div class="col-md-1 mobRes">
                    <div class="div-disp-pic"></div>
                </div>
                <div class="col-md-3 float-right">
                    <button class="btn-create-prob" onclick="openCreateUserNav();" ng-click="opencreateUser()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-content container-border-left">
    <div class="row">
        <div class="col-md-3 col-left col-left-cust-width col-sel-left filter-mob-res animate-left-hide" ng-mouseover="toggleChange()" ng-show="displayFilteroption==1">
            <div class="row">
                <div class="col-md-10 filter-head">
                    Modules
                </div>
            </div>
            <div class="row row-card-bottom-border" ng-class="{SelectedDiv: module.name === actionName ,unSelectedDiv :module.name != actionName}" ng-repeat="module in modules" id="module{{module.name}}">
                <div class="row row-card">
                    <input type="checkbox" id="{{module.name}}" ng-model="module.checked"
                           ng-change="actionfilterchange(module.name)" style="display:none;" />
                    <label for="{{module.name}}" class="full-width-label">
                        <span class="float-left left-filter-icon">
                            <i class="id3-settings icon-filter"></i>
                        </span>
                        <span class="float-left filter-text">
                            {{module.name}}
                        </span>
                        <!--<span class="col-span-count span-count">
                            {{module.problemCount}}
                        </span>-->
                    </label>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-middle-cust-width col-sel-middle" ng-show="displaytimeline==1">
            <div class="row row-timeline edit">
                <div class="col-md-12 col-timeline-bg module">
                    <div class="row row-timeline-padding module">
                        <div class="float-left div-phase-margin">
                            <div class=" timeline-icon phase">
                                <i class="id3-settings i-timeline-icon"></i>
                            </div>
                        </div>
                        <div class="float-left div-phase-margin title">
                            <span class="span-post-name">{{actionName}}</span>
                        </div>
                    </div>
                    <div class="row row-padding-top">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Select {{actionName}}</label>
                                        <md-select ng-model="actionId" name="module">
                                            <md-option ng-repeat="data in datas | orderBy:'name'" value="{{data._id}}" ng-click="getDetails(data)">
                                                {{data.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-6" ng-show="actionName=='Account'">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Map Domain</label>
                                        <md-select ng-model="data.domain" name="domain">
                                            <md-option ng-repeat="domain in domains" value="{{domain._id}}">
                                                {{domain.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row row-padding-top">
                                <div class="col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Edit {{actionName}}</label>
                                        <input ng-model="data.name">
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Edit Description</label>
                                        <textarea ng-model="data.description" rows="1"></textarea>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row" ng-show="actionName=='Account'">
                                <div class="col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Select Vertical</label>
                                        <md-select ng-model="data.vertical" name="vertical">
                                            <md-option ng-repeat="vertical in verticals" value="{{vertical._id}}">
                                                {{vertical.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>                                    
                                </div>
                                <div class="col-md-6" ng-show="actionName=='Account'">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Customer Engagement</label>
                                        <md-select ng-model="data.customerEngagement" name="customerEngagement">
                                            <md-option ng-repeat="val in ranges" value="{{val.value}}">
                                                {{val.value}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row row-padding-top" ng-show="actionName=='Account'">
                                <div class="col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Customer Innovation Adaption</label>
                                        <md-select ng-model="data.customerInnovationAdaption" name="customerInnovationAdaption">
                                            <md-option ng-repeat="val in ranges" value="{{val.value}}">
                                                {{val.value}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-6" ng-show="actionName=='Account'">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Select Account Type</label>
                                        <md-select ng-model="data.accountType" name="module">
                                            <md-option ng-repeat="val in ranges" value="{{val.value}}">
                                                {{val.value}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>  
                            </div>
                            <div class="row row-padding-top" ng-show="actionName=='Account'">
                                <div class="col-md-6">
                                    <md-input-container class="md-block" flex-gt-sm="">
                                        <label>Account Weightage(%)</label>
                                        <input ng-model="data.weightedPipeline" ng-change="validateWeightedPipeline2()">
                                    </md-input-container>
                                    <label id="errorMessageForLabel" class="error-label validation_error add-label">{{errorMessageForWeightage}}</label>
                                </div>
                            </div>
                        </div>

                        <label  class="error-label validation_error add-label">{{errorMessageForUpdate}}</label>
                    </div>
                </div>
                <div class="row" ng-show="data.name !=''">
                    <div class="col-md-12">
                        <div class="float-left col-update margin div-btn-mob">
                            <button class="btn-edit-change btn-mob" onclick="$('#deleteModule').modal('show');">Delete</button>
                        </div>
                        <div class="float-left col-update margin div-btn-mob">
                            <button class="btn-edit-change update btn-mob" onclick="$('#updateModule').modal('show');">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-right-cust-width col-sel-right" ng-show="displayRecent==1">
            <span class="span-recent edit">Create</span>
            <div class="row row-right-card-update row-padding-bottom action">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-update-phase module">
                            <span class="span-update-phases">Add {{actionName}}</span>
                        </div>
                    </div>
                    

                    <!--<div class="row  row-card-bottom-border row-phase-margin custom" ng-repeat="group in groups">
                        <div class="row row-card-update custom">
                            <label for={{group._id}} class="col-md-12">
                                <span class="float-left left-filter-icon multi">
                                    <i class="icon icon-filter multi ion-ios-people-outline"></i>
                                </span>
                                <span class="float-left filter-text">
                                    {{group.name}}
                                </span>
                            </label>
                        </div>
                    </div>-->

                    <div class="row  row-phase-margin custom">
                        <div class="col-md-12">
                            <!--<input type="text" class="txtcreate-right name input-new-label" ng-model="name" placeholder="Enter New {{actionName}}" id="newgroup" />-->
                            <md-input-container class="md-block md-map-domain" flex-gt-sm="">
                                <label>Enter New {{actionName}}</label>
                                <input ng-model="name" ng-change="removeErrorMsg()">
                            </md-input-container>
                            <md-input-container class="md-block md-map-domain" flex-gt-sm="">
                                <label>Description</label>
                                <textarea ng-model="description" rows="1"></textarea>
                            </md-input-container>
                            <md-input-container class="md-map-option md-select-bottom" flex-gt-sm="" ng-show="actionName=='Account'">
                                <label>Domain</label>
                                <md-select ng-model="domain" name="domain">
                                    <md-option ng-repeat="domain in domains" value="{{domain._id}}">
                                        {{domain.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-map-option md-select-bottom" flex-gt-sm="" ng-show="actionName=='Account'">
                                <label>Vertical</label>
                                <md-select ng-model="vertical" name="vertical">
                                    <md-option ng-repeat="vertical in verticals" value="{{vertical._id}}">
                                        {{vertical.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-map-option md-select-bottom" flex-gt-sm="" ng-show="actionName=='Account'">
                                <label>Account Type</label>
                                <md-select ng-model="accountType" name="accountType">
                                    <md-option ng-repeat="val in ranges" value="{{val.value}}">
                                        {{val.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-map-option md-select-bottom" flex-gt-sm="" ng-show="actionName=='Account'">
                                <label>Customer Engagement</label>
                                <md-select ng-model="customerEngagement" name="customerEngagement">
                                    <md-option ng-repeat="val in ranges" value="{{val.value}}">
                                        {{val.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-map-option md-select-bottom" flex-gt-sm="" ng-show="actionName=='Account'">
                                <label>Customer Innovation Adaption</label>
                                <md-select ng-model="customerInnovationAdaption" name="customerInnovationAdaption">
                                    <md-option ng-repeat="val in ranges" value="{{val.value}}">
                                        {{val.value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>                            
                            <md-input-container class="md-block md-map-domain" flex-gt-sm="" ng-show="actionName=='Account'">
                                <label>Weightage(%)</label>
                                <textarea ng-model="weightedPipeline" ng-change="validateWeightedPipeline()"  rows="1"></textarea>
                            </md-input-container>
                            <!--<input type="text" class="txtcreate-right name input-new-label" ng-model="description" placeholder="Description" />-->
                            <label id="errorMessageForLabel" class="error-label validation_error add-label">{{errorMessage}}</label>
                            <div class="row row-add-button">
                                <div class="text-align-center col-update margin-add">
                                    <button class="btn-edit-change" ng-click="createModule()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'app/partials/business-problems/templates/create.html'"></ng-include>

<script>
    $(document).ready(function () {
        $('body').tooltip({
            selector: '[rel="tooltip"]'
        });

        $(".filter-menu-mob").click(function () {

            $(".filter-menu-mob.active").removeClass('active');

            $(this).addClass('active');
        });

        responsiveSite();

        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function (event) {
            if ($("#myNav").height() == 0 &&
                $("#myUserNav").height() == 0 &&
                $(".fixed-menu-left").hasClass("active") == false) {
                didScroll = true;
            }
        });

        setInterval(function () {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 1);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                if ($(".searchbox-icon").hasClass("search") && $(".searchbox-icon").hasClass("show-header") == false) {
                    $('header, .nav-mob-res-logo ').removeClass('nav-down').addClass('nav-up');

                    $('.menu-fixed').removeClass('nav-static').addClass('nav-relative');
                }

                $('.searchbox-icon').removeClass('show-header');
            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {
                    if ($(".searchbox-icon").hasClass("search")) {
                        $('header, .nav-mob-res-logo ').removeClass('nav-up').addClass('nav-down');

                        $('.menu-fixed').removeClass('nav-relative').addClass('nav-static');
                    }
                }
            }

            lastScrollTop = st;
        }
    });
</script>


<div class="modal fade" id="blockUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deactivate this user?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#blockUserModal').modal('hide');" ng-click="blockUser(user._id)">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="unblockUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to activate this user?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#unblockUserModal').modal('hide');" ng-click="unblockUser(user._id)">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="blockUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivated</h4>
            </div>
            <div class="modal-body">
                <p>User deactivated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#modalCreateSuccess').modal('hide'); $('#myNav').css('height', '0%');$('body').css('overflow-y', 'visible');$('.wizard .content').hide();$('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="roleChangeUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Member Role</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to change selected users Role?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#roleChangeUserModal').modal('hide');" ng-click="assignUsersRole()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="roleChangeUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Member Role</h4>
            </div>
            <div class="modal-body">
                <p>Member role assigned successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#roleChangeUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupAssignSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Group</h4>
            </div>
            <div class="modal-body">
                <p>Group assigned successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#groupAssignSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deactivateUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deactivate selected users?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#deactivateUserModal').modal('hide');" ng-click="deactivateUsers()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activateUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Activate selected users?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#activateUserModal').modal('hide');" ng-click="activateUsers()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addUsersInGroupModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Group</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to add selected users in Group<p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#addUsersInGroupModal').modal('hide');" ng-click="addUserInGroup()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="unblockUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activated</h4>
            </div>
            <div class="modal-body">
                <p>User activated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#unblockUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deactivateUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivated</h4>
            </div>
            <div class="modal-body">
                <p>User deactivated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#deactivateUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activateUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activated</h4>
            </div>
            <div class="modal-body">
                <p>User activated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#activateUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModule" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected {{actionName | lowercase}}?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#deleteModule').modal('hide');" ng-click="deleteModule()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModule" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to update selected {{actionName  | lowercase}}?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#updateModule').modal('hide');" ng-click="updateModule()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Created</h4>
            </div>
            <div class="modal-body">
                <p>{{actioncreated}} created successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#createSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deleted</h4>
            </div>
            <div class="modal-body">
                <p>{{actiondeleted}} deleted successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#deleteSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Updated</h4>
            </div>
            <div class="modal-body">
                <p>{{actionupdated}} updated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#updateSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>