
<script>
    $.LoadingOverlay("show");
</script>
<ng-include src="'app/partials/main/templates/topmenu.html'"></ng-include>


<div class="container-fluid container-content main">
    <div class="row mobRes">
        <!--<div class="col-md-3 custom-width-left id3-heading-bg">
            <span class="span-id3-heading">ID</span>
            <span class="span-id3-sup">3</span>
        </div>-->
        <div class="col-md-12 page-heading-bg">
            <!--<span class="span-heading">Manage</span>-->
            <ul class="business-sub-nav">
                <!--<li class="active"> BUSINESS PROBLEMS </li>-->
                <li class="active"> USERS </li>
                <!--<li> SETTINGS </li>-->
            </ul>
        </div>
        <div class="col-md-12 page-heading-bg-solid">
        </div>
        <div class="col-md-12 shadow-page-heading-bg">
        </div>
    </div>
</div>

<!--<div class="row">
        <div class="col-md-12 page-overlay-row">

                </div>
    </div>-->
<div class="container-fluid container-content container-fixed">
    <div class="row white-bg list-menu menu-fixed mobView nav-static">
        <div class="col-md-12 mobileFilterHideIcon">
            <div class="float-left align-left fix-width-menu">
                <i class="ion-ios-list-outline filter-menu-mob fixed-menu-left" ng-click="showhidefilteroptions()"></i>
            </div>
            <div class="float-left align-center fix-width-menu">
                <i class="ion-earth filter-menu-mob active" ng-click="showTimeline();"></i>
            </div>
            <div class="float-left align-right fix-width-menu">
                <i class="ion-ios-clock-outline filter-menu-mob fixed-menu-right" ng-click="showhiderecent();"></i> <!--ion-ios-bookmarks-outline-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mobRes">
            <!--<span class="span-text-wall">WALL</span><br />-->
            <span class="span-text-intro mobRes">Create new user to share,</span><br />
            <span class="span-text-intro-part">collaborate and innovate together!</span>
        </div>
        <div class="col-md-6">
            <div class="row txt-row-margin-create mobRes">
                <div class="col-md-6">
                    <span class="span-create-head">Create User Profile</span>
                </div>
            </div>
            <div class="row input-row-margin-create">
                <div class="col-md-12">
                    <input type="text" class="input-create-prob" ng-model="userEmailId" placeholder="Enter the new user's Email ID" ng-keyup="setEmailId()" />
                </div>
            </div>
            <div class="row input-row-margin-create">
                <div class="col-md-1 mobRes">
                    <div class="div-disp-pic"></div>
                </div>
                <div class="col-md-3 float-right">
                    <button class="btn-create-prob" onclick="openCreateUserNav();" ng-click="opencreateUser()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-content container-border-left">
    <div class="row">
        <div class="col-md-3 col-left col-left-cust-width filterDiv col-sel-left filter-mob-res animate-left-hide" ng-mouseover="toggleChange()" ng-show="displayFilteroption==1">
            <div class="dropdown sort " ng-show="showSortOption==1">
                <span class="span-sort-filter"><i class="id3-list-button"></i>Sort by</span>
                <i class="icon ion-ios-arrow-down arrow-down right float-right"></i>
                <div class="dropdown-content sort">
                    <a ng-click="sortUser('name')">Name<span class="sortorder" ng-show="sortBy === 'name'" ng-class="{reverse: reverse}"></span> </a>
                    <a ng-click="sortUser('username')">UID <span class="sortorder" ng-show="sortBy === 'username'" ng-class="{reverse: reverse}"></span> </a>
                    <a ng-click="sortUser('account.name')">Account <span class="sortorder" ng-show="sortBy === 'account.name'" ng-class="{reverse: reverse}"></span>  </a>
                    <a ng-click="sortUser('role.name')">Role <span class="sortorder" ng-show="sortBy === 'role.name'" ng-class="{reverse: reverse}"></span>   </a>
                </div>
            </div>
            <h4> Refine your search </h4>
            <div class="row">
                <div class="col-md-10 filter-head">
                    Member Roles
                </div>
            </div>
            <div class="row unSelectedDiv  row-card-bottom-border" ng-repeat="role in roles | orderBy:'name'" id="role{{role._id}}">
                <div class="row row-card">
                    <input type="checkbox" id="{{role._id}}" ng-model="userfilter[$index]" ng-true-value="{{role}}" ng-false-value="{{}}"
                           ng-change="rolefilterchange()" style="display:none;" class="phasefilter-input" />
                    <label for={{role._id}} class="full-width-label">
                        <span class="float-left left-filter-icon manage">
                            <i class="ion-ios-contact icon-filter manage default {{role.name}}"></i>
                        </span>
                        <span class="float-left filter-text">
                            {{role.name}}
                        </span>
                        <span class="col-span-count span-count">
                            {{role.roleCount}}
                        </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 filter-head">
                    Users
                </div>
            </div>
            <div class="row unSelectedDiv row-card-bottom-border" id="aciveAndInactiveUsers">
                <div class="row row-card">
                    <input type="checkbox" id="inactiveUsers" ng-model="inactiveUsers" ng-true-value="true" ng-false-value="false" ng-change="InactiveUsers()" style="display:none;" class="phasefilter-input" />
                    <label for=inactiveUsers class="full-width-label">
                        <span class="float-left left-filter-icon manage">
                            <i class="ion-ios-contact icon-filter manage blocked"></i>
                        </span>
                        <span class="float-left filter-text">
                            InActive Users
                        </span>
                        <span class="col-span-count span-count">
                            {{blockedUserCount}}
                        </span>

                    </label>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-middle-cust-width col-auto-scroll col-sel-middle" ng-show="displaytimeline==1">
            <div class="filterOption mobRes">
                <div class="row  col-middle">
                    <div class="col-md-1 col-computing">
                        <i class="icon id3-cloud-computing"></i>
                    </div>
                    <div class="col-md-11">
                        <span class="span-keyword-search">User Search</span><br />
                        <input type="text" class="input-search" placeholder="Search for Users, Employee ID, Email ID, Accounts" ng-model="searchKeyword" />
                    </div>
                </div>
                <div class="row div-row-filter">
                    <div class="col-md-12">
                        <div class="dropdown float-left drop-filter-align">
                            <div class="squaredThree chk-filter">
                                <input type="checkbox" value="None" id="checkAll" name="check" ng-change="displayActions()" ng-model="userCheckbox" />
                                <label for="checkAll"></label>
                            </div>
                        </div>
                        <div class="float-left drop-left move">
                                <label class="lbl-all">All</label>
                        </div>
                        <div class="">
                            
                            <div class="dropdown float-left drop-left " ng-show="displayactions==1">
                                <div class="checkbox chk-filter">
                                    <label class="lbl-export">Assign</label>
                                    <i class="icon ion-arrow-down-b arrow-down-thick float-right"></i>
                                </div>
                                <div class="dropdown-content left-filter cust-width">
                                    <a href="" ng-repeat="role in roles" ng-click="assignsRoleId(role._id)" onclick="$('#roleChangeUserModal').modal('show');">{{role.name}}</a>
                                </div>
                            </div>
                            <div class="dropdown float-left drop-left move" ng-show="displayactions==1">
                                <div class="checkbox chk-filter">
                                    <label class="lbl-export">Move</label>
                                    <i class="icon ion-arrow-down-b arrow-down-thick float-right"></i>
                                </div>
                                <div class="dropdown-content left-filter">
                                    <a href="" ng-repeat="group in groups" ng-click="assignGroupId(group._id)" onclick="$('#addUsersInGroupModal').modal('show');">{{group.name}}</a>
                                </div>
                            </div>                                                     
                            <div class="float-left drop-left move" ng-show="displayactions==1">
                                <div class="checkbox chk-filter">
                                    <label class="lbl-export" onclick="$('#deactivateUserModal').modal('show');" ng-if="inactiveUsers==false">Deactivate</label>
                                    <label class="lbl-export" onclick="$('#activateUserModal').modal('show');" ng-if="inactiveUsers==true">Activate</label>
                                </div>
                            </div>
                            <div class="float-left drop-left move" ng-hide="displayactions==1">
                                <div class="checkbox chk-filter">
                                    <a class="anchor-export" href="/api/excel/getusers">Export All</a>
                                </div>
                            </div>
                            <div class="float-left drop-left move" ng-show="displayactions==1">
                                <div class="checkbox chk-filter">
                                    <label class="lbl-export" ng-click="exportExcel()">Export Selected</label>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row div-row-filter mobView">     <!--code for mobile view-->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dropdown float-left drop-filter-align">
                                <div class="squaredThree chk-filter">
                                    <input type="checkbox" value="None" id="checkAll" name="check" ng-change="displayActions()" ng-model="userCheckbox" />
                                    <label for="checkAll"></label>
                                </div>
                                <span class="icon arrow-down-thick filter float-left check-all">All</span>
                                <!--<div class="checkbox chk-filter">
                                    <label><input type="checkbox" value="">&nbsp;</label>
                                    <i class="icon ion-arrow-down-b arrow-down-thick float-right"></i>
                                </div>-->
                                <!--<div class="dropdown-content left-filter">
                                                <a href=""> <label for="checkAll">All</label></a>
                                                <a href=""><label for="checkAll">None</label></a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="displayactions==1" class="row-menu-mob-mar">
                                <div class="dropdown float-left drop-left">
                                    <div class="checkbox chk-filter">
                                        <label class="lbl-export">Assign</label>
                                        <i class="icon ion-arrow-down-b arrow-down-thick float-right"></i>
                                    </div>
                                    <div class="dropdown-content left-filter cust-width">
                                        <a href="" ng-repeat="role in roles" ng-click="assignsRoleId(role._id)" onclick="$('#roleChangeUserModal').modal('show');">{{role.name}}</a>
                                    </div>
                                </div>
                                <div class="dropdown float-left drop-left move">
                                    <div class="checkbox chk-filter">
                                        <label class="lbl-export">Move</label>
                                        <i class="icon ion-arrow-down-b arrow-down-thick float-right"></i>
                                    </div>
                                    <div class="dropdown-content left-filter">
                                        <a href="" ng-repeat="group in groups" ng-click="assignGroupId(group._id)" onclick="$('#addUsersInGroupModal').modal('show');">{{group.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row-menu-mob-mar">
                                <div class="float-left drop-left move" ng-show="displayactions==1">
                                    <div class="checkbox chk-filter">
                                        <label class="lbl-export" onclick="$('#deactivateUserModal').modal('show');" ng-if="inactiveUsers==false">Deactivate</label>
                                        <label class="lbl-export" onclick="$('#activateUserModal').modal('show');" ng-if="inactiveUsers==true">Activate</label>
                                    </div>
                                </div>
                                <div class="float-left drop-left move" ng-hide="displayactions==1">
                                    <div class="checkbox chk-filter">
                                        <a class="anchor-export" href="/api/excel/getusers">Export All</a>
                                    </div>
                                </div>
                                <div class="float-left drop-left move" ng-show="displayactions==1">
                                    <div class="checkbox chk-filter">
                                        <label class="lbl-export" ng-click="exportExcel()">Export Selected</label>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-timeline problemList">
                <div class="col-md-12 col-timeline-bg manage" ng-repeat="user in users |filter:userKeywordFilter(searchKeyword)|orderBy :sortBy:reverse |roleFilter:tags">
                    <div class="row">
                        <div class="squaredThree float-checkbox chk-timeline-filter">
                            <input type="checkbox" name="check" class="userCheck " id="{{user._id}}" value="{{user._id}}" ng-change="displayActions()" ng-model="userCheckbox" />
                            <label for="{{user._id}}"></label>
                        </div>
                        <div class="col-md-2">
                            <div class="row text-align-center profile-margin">
                                <div class="col-md-12">
                                    <span class="div-owner-dp manage"></span>
                                </div>
                            </div>
                            <div class="row text-align-center">
                                <div class="">
                                    <span class="span-owner-id">{{user.username}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-owner-name text-align-mob">
                                    <span>{{user.name}}</span>
                                </div>
                            </div>
                            <div class="row row-padding-bottom">
                                <div class="text-align-mob">
                                    <span class="span-owner-id">{{user.email}}</span>
                                </div>
                            </div>
                            <div class="row row-padding-bottom">
                                <div class="col-md-12 col-filter-pos mng-dt-mrgn">
                                    <div class="col-status-padding float-left">
                                        <div rel="tooltip" title="Role" class="div-timeline-status text-overflow">{{user.role.name}}</div>
                                    </div>
                                    <div class="col-status-padding float-left" ng-if="user.account !=null">
                                        <div rel="tooltip" title="Account" class="div-timeline-status text-overflow">{{user.account.name}}</div>
                                    </div>
                                    <!--<div class="col-status-padding float-left">
                                        <div rel="tooltip" title="Domain" class="div-timeline-status text-overflow">Healthcare</div>
                                    </div>-->
                                    <div class="col-status-padding float-left" ng-if="user.isDelete==true">
                                        <div rel="tooltip" title="Users" class="div-timeline-status text-overflow inactive">Inactive</div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-12 col-filter-pos">
                                    <div class="float-left div-icon-margin read-more-bottom">
                                        <button class="btn-read-more">Make Admin</button>
                                    </div>
                                    <div class="float-left div-icon-margin read-more-bottom">
                                        <button class="btn-read-more">Add to Group</button>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-1 col-edit-manage">
                            <div class="dropdown float-right drop-edit-align">
                                <i class="icon ion-android-more-vertical i-icon-more"></i>
                                <div class="dropdown-content manage">
                                    <a onclick="openCreateUserNav();" ng-click="getUserDetails(user._id)" ng-if="user.isDelete==false">Edit</a>
                                    <a onclick="$('#blockUserModal').modal('show');" ng-if="user.isDelete==false" ng-click="getblockingUserId(user._id)">Deactivate</a>
                                    <a onclick="$('#unblockUserModal').modal('show');" ng-if="user.isDelete==true" ng-click="getunblockingUserId(user._id)">Activate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row" ng-show="users.length>0">
                <div ng-hide="filteredusers.length" class="col-md-12 alert text-center">
                    <label class="col-md-11 span-no-data-warning">No data found !!!</label>
                </div>
            </div>-->
            <!--<p ng-hide="filteredProblems.length">Nothing here!</p>-->

        </div>
        <div class="col-md-3 col-right-cust-width col-sel-right" ng-show="displayRecent==1">
            <span class="span-recent">Groups</span>
            <div class="row row-right-card-update row-padding-bottom action manage">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-update-phase">
                            <span class="span-update-phases">Add Groups</span>
                        </div>
                    </div>
                    <div class="row  row-card-bottom-border row-phase-margin custom" ng-repeat="group in groups">
                        <div class="row row-card-update custom">
                            <label for={{group._id}} class="col-md-12">
                                <span class="float-left left-filter-icon multi">
                                    <i class="icon icon-filter multi ion-ios-people-outline"></i>
                                </span>
                                <span class="float-left filter-text">
                                    {{group.name}}
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="row  row-phase-margin custom">
                        <div class="col-md-12">
                            <input type="text" class="txtcreate-right name input-new-label" ng-model="newgroup" placeholder="Enter New Group" id="newgroup" />
                            <label id="errorMessageForLabel" class="error-label validation_error add-label">{{errorMessage}}</label>
                            <div class="row row-add-button">
                                <div class="text-align-center col-update margin-add">
                                    <button class="btn-edit-change" ng-click="addNewGroup(newgroup)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="row row-right-card" ng-repeat="topContributor in topContributors" >
                <div class="col-md-12 no-padding">
                    <div class="row text-align-center">
                        <div class="col-md-12">
                            <span class="div-owner-dp contributor"></span>
                        </div>
                    </div>
                    <div class="row text-align-center">
                        <div class="col-md-12 col-owner-name manage">
                            <span>{{topContributor.name}}</span>
                        </div>
                    </div>
                    <div class="row text-align-center row-padding-bottom">
                        <div class="col-md-12">
                            <span class="span-owner-id">{{topContributor.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 align-center col-view-more">
                    <a href="/#/problem/MyProblem/{{topContributor._id}}" class="no-text-decoration"> <button class="btn-read-more"> View Contributions</button></a>
                </div>
            </div>-->
        </div>
    </div>
</div>

<ng-include src="'app/partials/business-problems/templates/create.html'"></ng-include>

<script>
    $(document).ready(function () {
        $('body').tooltip({
            selector: '[rel="tooltip"]'
        });

        $(".filter-menu-mob").click(function () {

            $(".filter-menu-mob.active").removeClass('active');

            $(this).addClass('active');
        });

        responsiveSite();

        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function (event) {
            if ($("#myNav").height() == 0 &&
                $("#myUserNav").height() == 0 &&
                $(".fixed-menu-left").hasClass("active") == false) {
                didScroll = true;
            }
        });

        setInterval(function () {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 1);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                if ($(".searchbox-icon").hasClass("search") && $(".searchbox-icon").hasClass("show-header") == false) {
                    $('header, .nav-mob-res-logo ').removeClass('nav-down').addClass('nav-up');

                    $('.menu-fixed').removeClass('nav-static').addClass('nav-relative');
                }

                $('.searchbox-icon').removeClass('show-header');
            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {
                    if ($(".searchbox-icon").hasClass("search")) {
                        $('header, .nav-mob-res-logo ').removeClass('nav-up').addClass('nav-down');

                        $('.menu-fixed').removeClass('nav-relative').addClass('nav-static');
                    }
                }
            }

            lastScrollTop = st;
        }
    });
</script>
<script>

    var fixmeTop = ($('.filterDiv').offset().top) - 52;
    $(window).scroll(function () {

        if ($(window).height() > 700 &&
            $(window).width() > 991) {
            var currentScroll = $(window).scrollTop();

            var filterOptionWidth = $(".filterOption").width();
            if (currentScroll >= fixmeTop) {
                //var filterDivheight = $(".filterDiv").height();
                //var windowheight = $(window).height();
                //var top = 0;
                //if (filterDivheight > windowheight)
                //{
                //    top = filterDivheight - windowheight;
                //}

                if (screen.width > 1280) {
                    $('.filterDiv').css({
                        'width': '16%'
                    });
                }

                $('.filterDiv').css({
                    'position': 'fixed',
                    'top': '85px'
                });

                $('.filterOption').css({
                    'position': 'fixed',
                    'top': '85px',
                    'width': filterOptionWidth + 'px',
                    'z-index': '5'
                });

                $('.problemList').css({
                    'position': 'relative'
                });

                $('.problemList').css({
                    'position': 'relative'
                });

                $('.col-auto-scroll').css({
                    'margin-left': '20.3%'
                });

                $('.divider.last').css({
                    'left': '33.3%'
                });

                $('.divider.last').css({
                    'left': '33.3%'
                });

                $('.divider.first').css({
                    'left': '66.3%'
                });

            } else {
                $('.filterDiv').css({
                    'position': 'static',
                    'width': '19%'
                });

                $('.filterOption').css({
                    'position': 'static',
                    'width': '100%'
                });

                $('.problemList').css({
                    'position': 'static',
                    'left': '0px',
                });
                $('.col-auto-scroll').css({
                    'margin-left': '0%'
                });

                $('.divider.last').css({
                    'left': '34.3%'
                });

                $('.divider.first').css({
                    'left': '67.3%'
                });
            }
        }
    });

    $('#checkAll').click(function () {
        // $('.userCheck').prop('checked', this.checked);
        $('input:checkbox').not(this).prop('checked', this.checked);
        //$(".userCheck").trigger("click");
    });
</script>

<div class="modal fade" id="blockUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deactivate this user?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#blockUserModal').modal('hide');" ng-click="blockUser(user._id)">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="unblockUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to activate this user?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#unblockUserModal').modal('hide');" ng-click="unblockUser(user._id)">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="blockUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivated</h4>
            </div>
            <div class="modal-body">
                <p>User deactivated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#modalCreateSuccess').modal('hide'); $('#myNav').css('height', '0%');$('body').css('overflow-y', 'visible');$('.wizard .content').hide();$('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="roleChangeUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Member Role</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to change selected users Role?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#roleChangeUserModal').modal('hide');" ng-click="assignUsersRole()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="roleChangeUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Member Role</h4>
            </div>
            <div class="modal-body">
                <p>Member role assigned successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#roleChangeUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupAssignSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Group</h4>
            </div>
            <div class="modal-body">
                <p>Group assigned successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#groupAssignSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deactivateUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deactivate selected users?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#deactivateUserModal').modal('hide');" ng-click="deactivateUsers()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activateUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Activate selected users?</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#activateUserModal').modal('hide');" ng-click="activateUsers()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addUsersInGroupModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Group</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to add selected users in Group<p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change margin" data-dismiss="modal">No</button>
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#addUsersInGroupModal').modal('hide');" ng-click="addUserInGroup()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="unblockUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activated</h4>
            </div>
            <div class="modal-body">
                <p>User activated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#unblockUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deactivateUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivated</h4>
            </div>
            <div class="modal-body">
                <p>User Deactivated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#deactivateUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activateUserSuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activated</h4>
            </div>
            <div class="modal-body">
                <p>User Activated successfully!</p>
            </div>
            <div class="modal-footer custom">
                <button type="button" class="btn-edit-change update" data-dismiss="modal" onclick="$('#activateUserSuccess').modal('hide'); $('#myNav').css('height', '0%'); $('body').css('overflow-y', 'visible'); $('.wizard .content').hide(); $('.container-content.create').css({ 'z-index': '0', 'display': 'none' })">OK</button>
            </div>
        </div>
    </div>
</div>