<!--=---== Main.Topbar partial ==---=-->
<md-toolbar layout="row" class="md-toolbar-tools xe-bg shadow" style="padding: 0">
    <div class="padding-left-20">
        <span class="xe-text-gradient">ID3</span>
    </div>
    <span flex class="flex"></span>
    <p class="login-user-text" ng-controller="LoginController">{{userName}} | <span ng-click="logout()">Logout</span> </p>
    <!--<input type="search" class="xe-search" placeholder="Search..">
        
    <md-button class="xe-search-btn" ng-click="" aria-label="FAB">
        <i class="icon ion-android-search icon-dark size-21"></i>
    </md-button>-->
</md-toolbar>
<!--=---== /. End ==---=-->